<%- include("partials/header.ejs") %>
    <h1><%= blog.name %></h1>
    <br>
    <p class="con gray"><%= blog.date %></p>
    <br>
    <p class="con"><%= blog.content %></p>
    <br>
    <p class="con gray">authored by : <%= blog.author %></p>
    <br>
    <a href="/update/<%= blog._id %>" class="btn btn-lg edit">edit</a>
    <a href="/delete/<%= blog._id %>" class="btn btn-lg delete">delete</a>
<%- include("partials/footer.ejs") %>